/*Header*/
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.topHeader{
    position:fixed;
    z-index:999;
    width:100%;
    border:none;
}

.box{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left:10px;
}

#box1{
    background: #b46251;
}

#box2{
    background: #fb8b73;
}

#box3{
    background: #c4c4c4;
    margin-right:20px;
}
.sub{
    padding:5px 0;
    background:#fb8b73;
}

.searchContainer{
    margin:auto;
    width:270px;
}

.searchBar::placeholder,.searchBar:focus{
    color:white;
}
.searchBar{
    border-radius:10px 0 0 10px;
    border:none;
    background:#dd745d;
    padding:5px;
}
.searchBtn{
    border-radius:0 10px 10px 0;
    margin-left:-5px;
    background:#c66651;
    color:white;
}


/*Banner*/
#myCarousel{
    top:94px;
    height:200px;
}

#myCarousel img{
    height:200px;
}

.carousel-inner img {
    width: 100%; 
    margin: auto;
}

@media (max-width: 600px) { 
    /* Hide the carousel text when the screen is less than 600 pixels wide */
    .carousel-caption {
        display: none; 
    }
}